<%- include("partials/header", {activity: 'Client / Server'}); %>

<%- include("partials/input_non_workflow"); %>

<%- include("partials/simulation_parameters_form_start"); %>

<div class="form-group">
    <label for="task_gflop">Link Speed to Server_1<br/></label>
    <input class="form-control" type="number" id="server-1-link" placeholder="10" value="10" min="1" max="10000" step="1" required>
    <div class="invalid-feedback">
        Please provide the link speed from the Client to Server_1 in MBps.
    </div>
</div>

<div class="form-group">
    <label for="task_gflop">Link Speed to Server_2<br/></label>
    <input class="form-control" type="number" id="server-2-link" placeholder="100" value="100" min="1" max="10000" step="1" required>
    <div class="invalid-feedback">
        Please provide the link speed from the Client to Server_2 in MBps.
    </div>
</div>

<div class="form-group">
    <label for="task_gflop">Disk R/W for Client<br/></label>
    <input class="form-control" type="number" id="client-disk" placeholder="50" value="50" min="1" max="10000" step="1" required>
    <div class="invalid-feedback">
        Please provide the Disk Speed on the Client in MBps.
    </div>
</div>

<div class="form-group">
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" name="host-select" type="checkbox" id="host-select" value="1">
            Use Server_1? (default is Server_2)
        </label>
    </div>
</div>

<%- include("partials/simulation_parameters_form_end"); %>

<%- include("partials/simulation_output"); %>


<script src="scripts/client_server.js" type="text/javascript"></script>

<script>
    let svg = d3.select("#cyberinfrastructure");
    let height = svg.attr("height");

    let inner = svg.select("g");

    // Set up zoom support
    let zoom = d3.zoom().on("zoom", function() {
        inner.attr("transform", d3.event.transform);
    });
    svg.call(zoom);

    // Center the graph
    let initialScale = 1.5;
    svg.call(zoom.transform,
        d3.zoomIdentity.translate(20, 10).scale(initialScale));

    svg.attr('height', height);
</script>

<%- include("partials/footer"); %>
